[data-theme="light"] {
  --background-color: white;
  --text-color: black;
}

[data-theme="dark"] {
  --background-color: black;
  --text-color: white;
}

.App {
  width: 100%;
  height: minmax(100vh,100%);
  background-color: var(--background-color);
  color: var(--text-color);
}

.resume-info{
  margin: 1rem;
  padding: 1rem;
}

.input-container div{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.input-container div div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container div input{
  width: 70%;
  height: 2rem;
}

.input-container button{
  padding: 1rem;
}

.layout-1, .layout-2{
  margin: auto;
  padding: 1rem;
  width: 90%;
  border: 1px solid var(--text-color);
}

.layout-1 h2,.layout-2 h2{
  text-align: center;
}

.layout-1 .personalInfo  div, .layout-2 .personalInfo  div{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: auto;
}
