[data-theme="light"] {
  --background-color: white;
  --text-color: black;
}

[data-theme="dark"] {
  --background-color: black;
  --text-color: white;
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
}

.resume-info{
  margin: 1rem;
  padding: 1rem;
}

.layout-1 {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--text-color);
}

.layout-1 h2{
  text-align: center;
}

.layout-1 .personalInfo  div{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: auto;
}
